body *{
    display: inline-block;
    position: relative;
}

body {
    background-color: pink;
}


.wrap {
    display: flex;
    flex-direction: column;
}

button {
    color: blue;
}

div.card {
    width: 10rem;
    height: 15rem;
    background-color: green;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d5/English_pattern_playing_cards_deck_PLUS.svg);
    background-size: 1300%, 500%;
    background-position-x: 0%;
    background-position-y: 0%;
}